/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/


.footer{
    .logo{
        justify-content: flex-start;
    }

    &__ul{
        flex-direction: row;
    }
}